
.home-sections h2 {
    padding: 35px 0 12px 24px;
    border-bottom: none;
    color: #2485AE;
}

.pub-counts {
    min-width: 20em;
    margin-bottom: 24px;
}

#rep2.pub-counts {
    min-width: 20em;
    margin-bottom: 4px;
}

.pub-counts td, .pub-counts th {
    border: 1px solid #ddd;
    padding: 5px;
}

.info-button {
    background-color: transparent;
}

/*
.pub-counts tr:nth-child(even){background-color: #f2f2f2;}
*/

.pub-counts tr:hover {background-color: #ddd;}

.pub-counts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3d423d;
    color: white;
}

.rep-label {
}
.rep-num {
    text-align: right;
}
td.dtu-dept-num {
    text-align: right;
    padding-right: 15px;
}


.export-report_btn:hover {
  text-decoration: none;
}
.export-report_btn {
    border: none;
    color: #2485AE;
    background:none;
    float: right;
    margin-right: 1em;
    font-variant: small-caps;
    text-decoration: none;
    padding:0;
    font-size: 100%;
    cursor: pointer;
    text-decoration: underline;
}


/*Copub map*/

#copub-breadcrumbs {
    margin-top: 20px;
}

#copub-container {
    margin-top: 20px;
    position: relative;
}
#copub-org-list {
    border: 1px solid #666666;
    padding: 3px;
    margin-bottom: 60px;
}
#copub-org-list td {
    border: 1px solid #666666;
    padding: 3px;
    vertical-align: middle;
}
#copub-org-list th {
    background-color: #3d423d;
    color: white;
    border: 1px solid #666666;
    padding: 3px;
    vertical-align: middle;
}
#copub-main-list {
    border: 1px solid #666666;
    padding: 3px;
    margin-bottom: 60px;
    margin-left: 10px;
    min-width: 800px;
    max-width: 1100px;
}
#copub-main-list td {
    border: 1px solid #666666;
    padding: 3px;
}
#copub-main-list th {
    border: 1px solid #666666;
    padding: 3px;
    vertical-align: middle;
    background-color: #3d423d;
    color: white;
}
#copub-form form {
    margin-left: auto;
    margin-right: auto;
}

#copub-map {
    min-height: 630px;
    width: 90%;
    max-width: 1600px;
    border-style: double;
    border-width: 1px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
}

/*https://stephanwagner.me/only-css-loading-spinner*/
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.tab-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  left: 380px;
  width: 10em;
  height: 10em;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}

.pub-ids {
  font-variant: small-caps;
  font-size: small;
}

.pub-id-link {
  margin-right: 1em;
}

.pub-ids .counts {
}


.wos-badge {
  margin: 0 5px 5px 0;
  background-color: #ff8100;
  font-size: 16px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  color: #fff;
  vertical-align: middle;
  border-radius: 10px;
}

a.wos-badge {
 text-decoration: none;
 color: #fff;
}

.person-contact img {
  margin-right: .25em;
}

span.org-enhanced {
  margin-left: 2em;
}


tr.copubdept-child {
    display: none;
    background: #e6e6e6;
}

div.copubdept-pubmeta {
  margin-bottom: 1.5em;
}

ul.copubdept {
  margin-top: .5em;
  font-size: .9em;
  margin-left: 3em;
  list-style-type: square;
}

#copub-map {
    margin-bottom: 5px;
    overflow: hidden;
    border: 2px solid silver;
    border-radius: 6px;
    background: white;
}
.zoom-button {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #b50404;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#zoom-button-out {
    top: 20px;
    right: 20px;
}
#zoom-button-in {
    top: 90px;
    right: 20px;
}
#zoom-info {
    display: inline-block;
    padding: 10px;
    top: 50px;
    right: 8px;
    font-size: 14px;
    font-weight: bold;
}
#page-home-search {
    position: absolute;
    top: 220px;
    right: 15px;
    width: 60px;
    height: 60px;
}
.page-home-go {
    position: absolute;
    top: 220px;
    right: 15px;
    width: 60px;
    height: 60px;
}
.go-button {
    border-radius: 4px;
    border: 1px;
    border-color: silver;
    background: #b50404;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    width: 60px;
    height: 40px;
}
.page-home-test {
    position: absolute;
    top: 10px;
    right: 36px;
    color: #b50404;
    font-size: 24px;
}
#search-home-field {
    width: 483px;
    height: 44px;
    background: white;
}
#search-form {
    margin-top: 30px;
    width: 75%;
    float: right;
}

.qr-box {
    background: #e2e2e0;
    border: 1px solid #aaaaaa;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
}
.qr-text {
    padding: 3px 6px;
    font-size: 12px;
}
.qr-link {
    padding: 3px 6px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}
.qr-link:hover {
    background: #b50404;
    color: white;
}
.qr-link a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #666666;
}
.qr-link:hover a {
    color: white;
}
.qr-x {
    font-weight: bold;
    font-size: 12px;
}
#individual-info {
    margin-left: 12px;
}
#individual-info h2 {
    color: #5E6363;
    font-size: 16px;
    font-weight: bold;
}
#individual-info h2 span {
    color: #5E6363;
    font-size: 16px;
    font-weight: bold;
}
#pubCountTable {
  margin-bottom: 24px;
}
/* Report tables */
#individual-info h2.rep {
    font-size: 18px;
    font-weight: bold;
}
table#rep1 th.col1 {
    width: 420px;
}
table#rep1 th.col2 {
    width: 100px;
    text-align: right;
}
table#rep1 th.col3 {
    width: 100px;
    text-align: right;
}
table#rep2 th.col1 {
    width: 100px;
}
table#rep2 th.col2 {
    width: 100px;
    text-align: right;
}
table#rep2 th.col3 {
    width: 100px;
    text-align: right;
}
table#rep2 th.col4 {
    width: 100px;
    text-align: right;
}
table#rep3 th.col1 {
    width: 400px;
}
table#rep3 th.col2 {
    width: 120px;
    text-align: center;
    vertical-align: middle;
}
table#rep3 th.col3 {
    width: 120px;
    text-align: center;
    vertical-align: middle;
}
table#rep3 th.col4 {
    width: 80px;
    text-align: center;
    vertical-align: middle;
}
table#rep3 th.col21 {
    width: 57px;
    text-align: center;
}
table#rep3 th.col22 {
    width: 57px;
    text-align: center;
}
table#rep3 th.col31 {
    width: 57px;
    text-align: center;
}
table#rep3 th.col32 {
    width: 57px;
    text-align: center;
}
table#rep4 th.col1 {
    width: 400px;
}
table#rep4 th.col2 {
    width: 100px;
    text-align: right;
}
table#rep4 th.col3 {
    width: 100px;
    text-align: right;
}
table#rep4 th.col4 {
    width: 100px;
    text-align: right;
}
table#rep5 th.col1 {
    width: 300px;
}
table#rep5 th.col2 {
    width: 100px;
    text-align: right;
    padding-right: 15px;
}
table#rep5 th.col3 {
    width: 412px;
}
.sort-dir {
    display: inline-block;
    height: 23px;
}
.sort-dir-button {
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #b50404;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.sort-dir-arrow {
    font-size: 24px;
    font-weight: 1000;
    color: white;
}
#sort-org {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    color: white;
}
#sort-org-pub {
    cursor: pointer;
    text-align: right;
    vertical-align: middle;
    min-width: 200px;
    background-color: #3d423d;
    color: white;
}
.sort-org-pub {
    text-align: right;
}
#sort-main {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    color: white;
    min-width: 600px;
    max-width: 900px;
}
#sort-main-pub {
    cursor: pointer;
    text-align: right;
    width: 200px;
}
.sort-main-pub {
    text-align: right;
}
#copub-map-title {
    margin: 30px 0px 0px 16px;
    font-size 18px;
    font-weight: bold;
    text-align: center;
}
#copub-map-sub-title {
    text-align: center;
}
#copub-list-title {
    margin: 30px 0px 0px 16px;
    font-size 18px;
    font-weight: bold;
    text-align: left;
}
#copub-list-sub-title {
    text-align: left;
    background-color: #b50404;
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: bold;
    border: #aaaaaa solid 1px;
    width: 200px;
    margin-left: 16px;
}
.copub-filter-form {
    display: inline-block;
    float: right;
}
#copub-main-filter {
    margin: 0px;
}
#copub-org-filter {
    margin: 0px;
    border-color: black;
}
body.copub-choose {
    background-color: #f3f3f0;
}
#DTUdepartment {
    border-width: 1px;
    border-color: #666666;
    margin-right: 20px;
}
#copub-choose-list li {
    font-size: 18px;
}
#copub-choose-heading {
    text-align: center;
}
#copub-choose-title {
    text-align: center;
    color: #941010;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}
#copub-choose-desc {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
#copub-choose-graphic {
    text-align: center;
}
.copubs-by-dept h2 {
    margin-left: 10px;
}
.copubs-by-dept h3 {
    margin-left: 10px;
}
.copubs-by-dept div {
    margin-left: 10px;
}
.copubs-by-category h2 {
    margin-left: 10px;
}
.copubs-by-category h3 {
    margin-left: 10px;
}
.copubs-by-category div {
    margin-left: 10px;
}

html, body {
    min-height: 100vh;
    margin: 0;
    background-color: white;
}
div#main-content {
    min-height: 100vh;
    margin-bottom: -60px;
}
footer {
    height: 60px;
}
div#footer-spacer {
    min-height: 40px;
}
table#copub-authors {
    padding: 5px;
}
table#copub-authors th {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    border: 1px solid gray;
}
table#copub-authors td {
    text-align: left;
    padding: 5px;
    border: 1px solid gray;
}
.footnote {
    font-size: 12px;
    font-style: italic;
}
#collab-summary-container .chart-box {
  margin: 30px 0;
}
svg, svg g, svg text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", 'Geneva', helvetica, sans-serif
}
